.button_main {
    margin: 25px 0px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.footer_btn {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
    padding: 10px 15px;
    font-weight: 500;
    background-color: var(--button-info-bg);
    color: var(--text-white-one);
    cursor: pointer;
    font-family: var(--font-open-sans);
    transition: 0.4s all ease-in-out;
}


.footer_btn_icon {
    width: 15px;
    height: 15px;
}
