
:root {

    --body-bg : #1D2127;
    --header-bg : #11161D;

    --card-light-bg : #343A40;
    --card-bg : #11161D;
    --card-border : #11161D;
    --card-border-highlight : #1DA1F2;

    --input-box-border : #454444;
    --input-box-bg : #555454;
    --input-box-highlight : #1DA1F2;

    --text-white-one : white;
    --text-white-two : rgb(165, 164, 164);
    --text-highlight : #1DA1F2;

    --border-light : #11161D;

    --danger-color : #dc3545; 

    --button-danger-border : #dc3545;
    --button-danger-text : #dc3545;
    --button-danger-bg : #dc3545;
    --button-info-border : #17a2b8;
    --button-info-text : #17a2b8;
    --button-info-bg : #17a2b8;
    --button-success-bg : #28a745;
    --button-success-text : #28a745;
    --button-success-border : #28a745;
    --button-cancel-bg : #6c757d;
    --button-cancel-text : #6c757d;
    --button-cancel-border : #6c757d;
    --button-dark-one : #414141;
    --button-highlight-bg : #1DA1F2;
    --button-highlight-dark : rgb(29,161,242,0.3);

    --font-open-sans : 'Open Sans', sans-serif;

}

/* Common css start */

.body 
{
    background-color: var(--body-bg);
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    padding: 15px;
}
.github-icon
{
    color: var(--text-white-one);
    font-size: 20px;
}
.github-icon a
{
    color: var(--text-white-one);;
}
.overlay 
{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 120;
    transition: 0.5s all ease-in-out;
}
.form_error
{
    text-align: left;
    font-size: .790rem;
    font-weight: 600;
    font-family: var(--font-open-sans);
    color: var(--danger-color);
}
.sans_font
{
    font-family: var(--font-open-sans);
}
.text_9
{
    font-size: .9rem;
}
.text_950
{
    font-size: .950rem;
}
.text_white_one
{
    color: var(--text-white-one);
}

/* Common css end */

/* header component starts */

.header-main
{
    background-color: var(--header-bg);
    padding: 20px 25px;
    color: var(--text-white-one);
    font-family: var(--font-open-sans);
    font-weight: 600;
    letter-spacing: 0.005rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -3px 7px 15px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 7px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 7px 15px -2px rgba(0,0,0,0.75);
}


/* header component end */


/* page header component start */

.page_header_main
{
    width: 100%;
    margin: 15px 0px;
}
.page_head_navigation
{
    padding: 25px 15px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    box-shadow: 1px 3px 0 1px #2f3139;
    justify-content: space-between;
    background-color: var(--card-bg);
    font-size: .850rem;
    color: var(--text-white-one);
    font-family: var(--font-open-sans);
    font-weight: 500;
    transition: 0.4s all ease-in-out;
}
.page_head_navigation a
{
    outline: none;
    text-decoration: none;
    color: var(--text-white-one);
    transition: 0.4s all ease-in-out;
}
.page_head_navigation a:hover
{
    color: var(--text-highlight) !important;
}
.arrow_icon
{
    margin-right: 7px;
}
.page_head_info
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.page_head_title
{
    color: var(--text-white-one);
    font-size: 1.4rem;
    font-weight: 500;
    word-spacing: 2px;
    text-align: center;
    font-family: var(--font-open-sans);
}
.page_head_github_btn
{
    border: none;
    padding: 10px 12px;
    background-color: var(--card-bg);
    border-radius: 8px;
    font-size: .800rem;
    font-weight: 600;
    font-family: var(--font-open-sans);
    color: var(--text-white-one);
    background-color: var(--button-highlight-dark);
    transition: 0.4s all ease-in-out;
}
.page_head_github_btn:hover
{
    background-color: var(--button-highlight-bg);
}


/* page header component end */
