.home_main {
    margin: 20px 0px;
}

.home_main a {
    outline: none;
    text-decoration: none;
}

.home_card_container {
    background-color: var(--card-bg);
    border-radius: 9px;
    padding: 15px;
    border: 1px solid var(--card-border);
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}

.home_card_container:hover .home_card_text {
    color: var(--text-highlight);
}

.home_card_text {
    font-size: .900rem;
    color: var(--text-white-one);
    font-family: var(--font-open-sans);
    font-weight: 500;
    letter-spacing: 0.005rem;
    transition: 0.4s all ease-in-out;
}

@media (max-width : 780px) {
    .home_card {
        margin-bottom: 15px;
    }
}
